{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}
<div class="container" style="width: 40rem;">
  <div class="row" >
    <nav class="navbar navbar-expand navbar-light bg-light mb-5 w-100">
      {{#link-to "index" class="navbar-brand"}}
        <img src="/logo-small.png">
        {{/link-to}}
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            {{#link-to "index" class="nav-item nav-link"}}
              Home
              {{/link-to}}
            {{#link-to "feed" class="nav-item nav-link"}}
              Feed
              {{/link-to}}
        </div>
        <div class="navbar-nav ml-auto">
            {{#link-to "profile" session.currentUser class="nav-item nav-link"}}
              {{fa-icon "user-circle-o"}}
              {{session.currentUser.userName}}
            {{/link-to}}
        </div>
      </div>
    </nav>
  </div>
 {{outlet}}
</div>