{{#if setupControllerTask.isRunning}}
  {{#my-modal
    closeModal=(action 'dismissModal')
    header="Welcome to Kitter"
    footer=statusMessage}}
    <p>{{t "welcome"}}</p>
    <p class="text-muted">PS. {{t "no_humans"}}</p>
  {{/my-modal}}
{{/if}}
{{post-form saveAction=(action 'savePost')}}
{{#each model as |post|}}
  {{post-card post=post}}
{{/each}}